@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.gradient{
  background-color:#0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(225,39%,30%,1) 0, transparent 50%),
    radial-gradient(at 50% 500%, hsla(225,39%,30%,1) 0, transparent 30%),
    radial-gradient(at 0% 100%, hsla(225,39%,30%,1) 0, transparent 50%);
}

.glass {
  background: rgba(22, 32, 65, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.linear-right{
  background: rgba(22, 32, 65, 0.4);
  background-image: linear-gradient(to right, rgba(248, 248, 248, 0.616) 0%, transparent );
}

.linear-left{
  background: rgba(22, 32, 65, 0.4);
  background-image: linear-gradient(to left, rgba(248, 248, 248, 0.616) 0%, transparent);
}